
<h2 class="font-bold text-pink-800 p-6 text-3xl">Compony Name : {{componyDetails?.name}}</h2>

<button class="rounded p-2 bg-yellow-300 border-solid border-1 " (click)="toggleService()">Toggle Service</button>
<div *ngIf="isServiceDisplaced">
<h3 class="font-bold text-pink-500 p-3 text-3xl">Compony Services:</h3>
<ul *ngFor="let service of componyDetails?.services">
    <li class="font-bold text-gray-700 p-2 text-2xl">{{service}}</li>
</ul>
</div>
property binding test:
<input type="text" [value]="componyDetails?.name">
<br>
<input type="text" [(ngModel)]="componyDetails.name">
  <hr>
  <table class="table border-collapse border border-gray-400 table-auto ">
    <thead>
      <tr class="border border-gray-700 bg-red-300">
        <th class="border border-gray-300">No:</th>
        <th>Name</th>
        <th>Quantity</th>
        <th appHighlight >Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of mainProducts let i= index ">
        <td >{{i+1}}</td>
        <td class="text-red-600 font-bold bg-blue-400">{{product.Name}}</td>
        <td [ngStyle]="{'background-color':product.Quantity>100?'':'red'}">{{product.Quantity}}</td>
        <td [ngClass]="{'text-indigo-700':(product.price>1000)}">{{product.price | uSDtoEgy: 18.01 | currency :"Egp"}}</td>
      </tr>

    </tbody>
  </table>
